<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
    
</head>
<body>
    
    <div className="Sidebar" id='sidebar'>
        <div className="item">
            <img class="icon" src="img/icon1.png"/>
            <div className="text">The app</div>
        </div>
        <hr />
        <div className="item">
            <img class="icon" src="img/icon2.png"/>
            <div className="text">History</div>
        </div>
        <div className="item">
            <img class="icon" src="img/icon3.png"/>
            <div className="text">Support</div>
        </div>

        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>